<!-- Made by Sanjay Paudel ID: 1902801 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Fuel Quote History</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Fuel Predictor</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/fuel">Fuel Quote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/fuelhis">Fuel Quote History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">Profile Managment</a>
            </li>
          </ul>
          <div class="d-flex">
            <p class="mx-4" style="color: #fff; justify-content: center">
              Welcome,{{user}}
            </p>
            <a href="{{url_for('index')}}">
              <button class="btn btn-danger">LogOut</button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="container-fluid">
        <h1 class="mt-4">Fuel Quote History</h1>
        <div class="main">
          <table class="fuel-quote-history table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Gallons Requested</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Suggested Price per Gallon</th>
                <th scope="col">Total Amount Due</th>
              </tr>
            </thead>
            <tbody>
              {% for row in data %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}} USD</td>
                <td>{{row[4]}} USD</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

